.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr .8fr;
    grid-template-areas: 
    "header header header header"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    grid-gap: 0.5rem;
}

.header {
    grid-area: header;
    position: sticky;
    top: 0%;
    background-color: rgb(207, 200, 178);
    text-align: center;
  }

main{
    grid-area: main;
    background: pink;
}

#sidebar{
    grid-area: sidebar;
    background: red;
}

#content1{
    grid-area: content1;
}

#content2{
    grid-area: content2;
}

#content3{
    grid-area: content3;
}

footer{
    grid-area: footer;
    background: orange;
    text-align: center;
    height: 100px;
}

body {
    background-image: url(bilder/bakgrundsbild.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
 }
img{
    width: 200px;
    height: auto;
    float: right;
}