.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr .8fr;
    grid-template-areas: 
    "header header header header"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    grid-gap: 0.2rem;
}

.header {
    grid-area: header;
    position: sticky;
    top: 0%;
    background-color: rgb(207, 200, 178);
  }

main{
    grid-area: main;
    background: pink;
}

#sidebar{
    grid-area: sidebar;
    background: red;
}

#content1{
    grid-area: content1;
    background: green;
}

#content2{
    grid-area: content2;
    background: blue;
}

#content3{
    grid-area: content3;
    background: purple;
}

footer{
    grid-area: footer;
    background: orange;
}

body {
    background-image: url(bakgrundsbild.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
 }

 img{
    width: 100px;
    border-radius: 50px;
}
