/*Detta är en behållare som jag ska styla i*/
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header header"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "footer footer footer footer";
}
/*Här stylar jag huvudrubriken*/
.header {
    grid-area: header;
    position: sticky;
    top: 0%;
    background-color: rgb(207, 200, 178);
    text-align: center;
}

main{
    grid-area: main;
}

/*här stylar jag bara texten så den blir lite fetare*/
.sidebar{
    grid-area: sidebar;
    font-weight: bold;

}
/*Här stylar jag textstorleken*/
ol{
    display: grid;
    font-size: 20px;

}
/*Här lägger jag in lite mellanrum mellan de*/
li{
    margin-bottom: 10px;
}
/*Här styr jag höjden på elementet*/
#meddelande{
    height: 90px;
}

#content1{
    grid-area: content1;
}

#content2{
    grid-area: content2;
}

#content3{
    grid-area: content3;
}

.footer{
    grid-area: footer;
}
/*Här tar jag bor understreck på home, about , contact. Lägger svart svart färg på texten. Lögger den på höger sida. Lite mellanrum oxå*/
a{
    text-decoration: none;
    color: black;
    margin: 20px;
    float: right;
    
}
/*Här lägger jag in en bakgrundsbild som är helfärgad*/
body {
    background-image: url(bilder/bakgrundsbild.jpg);
    background-size: cover;  
}
/*Här stylar jag bilderna med pixlar och lägger de på höger sida.*/
img{
    width: 200px;
    height: auto;
    float: right;
}

/*Detta är en mobilanpassad brytpunkt, iphone*/
@media screen and (max-width: 380px){
    .container{
        display: block;

        }
    
    .header, .sidebar, .main, #content1, #content2, #content3, .footer{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
    }
    #content1,
    #content2,
    #content3 {
        grid-area: unset;

        }
        img{
            max-width: 30%;
            height: auto;
        }
}
/*Detta är en ipad-anpassad brytpunkt*/
@media screen and (max-width: 2360px){
    .container{
        width: 100%;
    }
}
/*Detta är en dator-anpassad brytpunkt*/
@media screen and (min-width: 1200px){
    .container{
        width: 100%;
    }
}
